# App Configuration
APP_NAME=Xenon Airdrop Tracker
APP_VERSION=1.0.0

# Donation Links
DONATION_URL=https://sociabuzz.com/xenonsixtytwo/tribe

# Social Media
GITHUB_URL=https://github.com/xenon231tech/xenon-airdrop-task-tracker
WEBSITE_URL=https://xenon231tech.github.io/xenon-airdrop-task-tracker/

# Contact
CONTACT_EMAIL=xannrlcs@gmail.com
